<div id="<%= dom_id collection %>">
  <p>
    <strong>Game:</strong>
    <%= collection.game_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= collection.weight %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= collection.rating %>
  </p>

  <p>
    <strong>Min players:</strong>
    <%= collection.min_players %>
  </p>

  <p>
    <strong>Max players:</strong>
    <%= collection.max_players %>
  </p>

  <p>
    <strong>Rec min players:</strong>
    <%= collection.rec_min_players %>
  </p>

  <p>
    <strong>Rec max players:</strong>
    <%= collection.rec_max_players %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= collection.image %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= collection.player_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= collection.venue_id %>
  </p>

  <p>
    <strong>Venue owned:</strong>
    <%= collection.venue_owned %>
  </p>

</div>
