<div id="form_window">
<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= form.label :name, style: "display: block; width: 200px" %>
    <%= form.text_field :name, :class => "form_string" %>
  </div>

  <div class="form_group">
    <%= form.label :location, style: "display: block; width: 200px" %>
    <%= form.text_field :location, :class => "form_string" %>
  </div>

  <div class="form_group">
    <%= form.label :description, style: "display: block; width: 200px" %>
    <%= form.text_area :description, :class => "form_text" %>
  </div>

  <div class="check_box_group">
    <%= form.label :private, style: "display: block" %>
    <%= form.check_box :private, :class => "form_check" %>
  </div>

  <div class="button_group">
    <%= form.submit "Create", :class => "square_button" %>
  </div>
  </div>
<% end %>

