<div id="<%= dom_id group %>">
  <div class="single_item_window">
    
  <div class="group_display">
  <div class="profile_pic" id="group_pp">
  <%= image_tag(group.image_url.to_s, :class => "image_250") %>
  </div>
  <div id="group_container">
  <h1 class ="item_header" id="group_item_header">
    <%= group.name %>
    </h1>
  <p>
    <%= group.location %>
  </p>

  <p>
    <%= group.description %>
  </p>
  <h4>
    Members
  </h4>
  <ul class="member_list">
  <% group.users.each do |user| %>
    <li><div class="user_box">
    <%= image_tag("defaultpp", :class =>"user_pp") %>
    <div class="user_name">
    <%= user.name %>
    </div>
    </div></li>
  <% end %>
  </div>
  </div>
  <div class="button_group" id="group_buttons">
  <%= button_to "Edit", edit_group_path, :class => "square_button", :method => :get %> 
  <%= button_to "Delete", group_path, :class => "square_button", :method => :delete %>
  <% if !current_user.member?(group) %>
    <%= button_to "Join", new_group_membership_path(group), :class => "square_button", :id => "group_join_leave_button", :method => :get %>
  <% else %>
    <% membership = Membership.find_by group_id: group.id, user_id: current_user.id %>
    <%= button_to "Leave", group_membership_path(group, membership), :class => "square_button", :id => "group_join_leave_button", :method => :delete %>
  <% end %>
  <%= button_to "All Groups", groups_path, :class => "square_button", :method => :get %>
  </div>

  </div>

</div>
