<p style="color: green" class="notice"><%= notice %></p>

<h1 class="page_title">Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
  <%if !group.private %>
  <%= link_to group do%>
  <div class="group_card card">
    <div class="profile_pic" id="generic_profile_pic" src=".app/assets/images/pp_generic" alt="a group of meeples, no profile picture provided"></div>
    <div id="<%= dom_id group %>">
  <div class="card_header">
    
    <%= group.name %>
  </div>
  <div class="card_contents">
  <p>
    <%= group.location %>
  </p>

  <p>
    <%= group.description.length < 50 ? group.description: group.description[0,51]+" ..." %>
  </p>

  </div>

</div>
  </div>
    <% end %>
    <% end %>
  <% end %>
  
  
</div>

<%= link_to new_group_path do %>
<button class = "new_btn"><span class="new_icon">add</span>
</button>
<% end %>
