<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= event.group_id_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue_id_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Event settings:</strong>
    <%= event.event_settings_id_id %>
  </p>

  <p>
    <strong>Play session:</strong>
    <%= event.play_session_id_id %>
  </p>

</div>
