<div id="<%= dom_id event_setting %>">
  <p>
    <strong>Min per group:</strong>
    <%= event_setting.min_per_group %>
  </p>

  <p>
    <strong>Max per group:</strong>
    <%= event_setting.max_per_group %>
  </p>

  <p>
    <strong>Use rec player count:</strong>
    <%= event_setting.use_rec_player_count %>
  </p>

  <p>
    <strong>Max game length:</strong>
    <%= event_setting.max_game_length %>
  </p>

  <p>
    <strong>Min game length:</strong>
    <%= event_setting.min_game_length %>
  </p>

  <p>
    <strong>Max weight:</strong>
    <%= event_setting.max_weight %>
  </p>

  <p>
    <strong>Min weight:</strong>
    <%= event_setting.min_weight %>
  </p>

</div>
