<div id="<%= dom_id play_session %>">
  <p>
    <strong>Collection:</strong>
    <%= play_session.collection_id %>
  </p>

  <p>
    <strong>Slot number:</strong>
    <%= play_session.slot_number %>
  </p>

  <p>
    <strong>Max slots:</strong>
    <%= play_session.max_slots %>
  </p>

  <p>
    <strong>User:</strong>
    <%= play_session.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= play_session.event_id %>
  </p>

</div>
