<!DOCTYPE html>
<html>
  <head>
    <title>Heavy Night - Board Game Planning App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header"></div>
    <div id="header_plus_menu">
    <div class="header">
      <%= link_to root_path, :class => "site_name" do %>
        <h1>HEAVY NIGHT</h1>
        <% end %>
      <ul id="header_links">
        <li class="desktop">
          <%= link_to "Groups", groups_path, :class => "header_link_to" %>
        </li>
        <li class="desktop">Events</li>
        <li class="desktop">My Profile</li>
        <li id="mobile_burger"><a tabindex="0">menu</a></li>
      </ul>
    </div>
    <div id="mobile_menu">
        <div class="mobile">My Profile</div>
        <div class="mobile">
          <%= link_to "Groups", groups_path, :class => "header_link_to" %>
        </div>
        <div class="mobile">Events</div>
    </div>
    </div>
    
    <div id="main_window">
      <%= yield %>
    </div>
    <div id="footer">By Rob Boyce 2023</div>
  </body>
</html>
